[advisories]
db-urls = ["https://github.com/RustSec/advisory-db"]
unmaintained = "warn"
yanked = "deny"
ignore = []

[licenses]
unlicensed = "deny"
allow = ["MIT", "Apache-2.0", "BSD-3-Clause", "ISC", "Zlib", "Unicode-DFS-2016"]
deny = []
copyleft = "deny"
confidence-threshold = 0.93

[bans]
multiple-versions = "warn"
wildcards = "deny"

[sources]
unknown-registry = "deny"
unknown-git = "deny"
